@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);

body {
  padding-top: 5rem;
  font-family:Lato;
  font-weight: 400;
  font-size:14px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/**Customized**/
.cus-nav{background:#28a745}

.custom-cards{box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2); margin-bottom:30px;}

.widget-small{display:flex; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15); border-radius:4px;  margin-bottom:30px;}
.widget-small .indi{width:80px; background:#DC3545; color:#fff; border-radius:4px 0 0 4px; align-items: center; display:flex; justify-content: center; font-size:1.5rem;}
.widget-small .info{flex-grow:8; padding:10px;}

.else-not{font-size: 15px; text-align: center;}
p{margin-bottom: .4rem;}
/**Customized ends**/

/**Login screen**/
.material-half-bg {height: 100vh; background-color: #e7e7e7; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;}

.material-half-bg .cover {background-color: #28a745; height: 50vh;}

.login-content {display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.login-content .logo {margin-bottom: 40px; color: #fff;}

.login-content .logo h1 {font-size: 52px; font-weight: 400;}

.login-content .login-box {position: relative; min-width: 350px;min-height: 390px; background-color: #fff;
  -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login-content .login-box .login-head {margin-top: 0; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #ddd; text-align: center;}

.login-content .login-box label { color: #666; font-weight: 700;}

.login-content .login-box .utility { display: flex;
  padding: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content .login-box .btn-container { margin-bottom: 0;}

.login-content .login-box .login-form, .login-content .login-box .forget-form {position: absolute;top: 0;bottom: 0;left: 0;right: 0; padding: 40px;}

@media (max-width: 351px) {
  .login-content .login-box {
    min-width: 100%;
  }
  .login-content .login-box .login-form, .login-content .login-box .forget-form {
    width: 100%;
  }
}
/**Login screen ends**/